<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<array>
		<dict>
			<key>name</key>
			<string>个人签名</string>
			<key>content</key>
			<string>时间就是金钱</string>
		</dict>
		<dict>
			<key>name</key>
			<string>感情状态</string>
			<key>content</key>
			<string>单身</string>
		</dict>
		<dict>
			<key>name</key>
			<string>职业</string>
			<key>content</key>
			<string>设计</string>
		</dict>
		<dict>
			<key>name</key>
			<string>学校</string>
			<key>content</key>
			<string>北京林业大学</string>
		</dict>
		<dict>
			<key>name</key>
			<string>家乡</string>
			<key>content</key>
			<string>河北承德</string>
		</dict>
	</array>
	<array>
		<dict>
			<key>name</key>
			<string>VCLUB号</string>
			<key>content</key>
			<string>307434141</string>
		</dict>
		<dict>
			<key>name</key>
			<string>电影</string>
			<key>content</key>
			<string>钢铁侠</string>
		</dict>
		<dict>
			<key>name</key>
			<string>音乐</string>
			<key>content</key>
			<string>一生有你</string>
		</dict>
	</array>
	<array>
		<dict>
			<key>name</key>
			<string>工作地点</string>
			<key>content</key>
			<string>兴美大厦</string>
		</dict>
		<dict>
			<key>name</key>
			<string>常出没地</string>
			<key>content</key>
			<string>望京新城</string>
		</dict>
	</array>
	<array>
		<dict>
			<key>name</key>
			<string>关系</string>
			<key>content</key>
			<string>自己</string>
		</dict>
		<dict>
			<key>name</key>
			<string>注册日期</string>
			<key>content</key>
			<string>2015-09-12</string>
		</dict>
	</array>
</array>
</plist>
